body {
    font-family: sans-serif;
    margin: 0;
}
.header {
    height: 45px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

img {
    max-width: 100%;
}

.image {
    height: 45px;
    display: flex;
}

.logo {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 12px
}

.logo-text {
    color: white;
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 0;
    margin: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    font-size: 18px;
}